.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	gap: 10px;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
