.avatarWrapper {
	display: flex;
	flex-shrink: 0;
	justify-self: center;
	align-items: center;
	overflow: hidden;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.huge {
	width: 260px;
	aspect-ratio: 1;
}

.large {
	width: 200px;
	aspect-ratio: 1;
}

.medium {
	width: 50px;
	aspect-ratio: 1;
}

.small {
	width: 40px;
	aspect-ratio: 1;
}
