.text {
	margin: 0;
	padding: 0;
	color: #000;
	line-height: normal;
	letter-spacing: 0;
}

.size40 {
	font-size: 40px;
}

.size30 {
	font-size: 30px;
}

.size26 {
	font-size: 26px;
}

.size22 {
	font-size: 22px;
}

.size14 {
	font-size: 14px;
}

.size12 {
  font-size: 12px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.lowercase {
	text-transform: lowercase;
}

.invert {
	filter: invert(1);
}
