.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.appWindow {
	width: 1024px;
	height: 728px;
	background-color: #c0c0c0;
}

.mainArea {
	display: grid;
	flex: 1;
	grid-template-columns: 280px 1fr;
	gap: 10px;
	min-height: 0;
	padding: 10px;
}

.leftSide {
	min-width: 0;
	min-height: 0;
}

.rightSide {
	display: flex;
	flex-direction: column;
	flex: 1;
}
