.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-height: 100vh;
}

.appWindow {
	width: 1024px;
	height: 728px;
}

.mainArea {
	display: flex;
	flex: 1;
	gap: 10px;
	padding: 10px;
}

.leftSide {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 250px;

	.placeholder {
		flex: 1;

		border: 1px solid;
		border-color: #262626 #f0f0f0 #f0f0f0 #262626;
		box-shadow:
			inset 1px 1px #262626,
			inset -2px -2px #c3c3c3;
		background: #fff;
	}
}

.rightSide {
	display: flex;
	flex-direction: column;
	flex: 1;
	border: 2px inset white;
	background-color: #ffffff;

	.placeholder {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;

	}
}
