PORT=3000
DATABASE_URI=mongodb+srv://some-url.net/clusterName
DATABASE_URI_TEST=mongodb://localhost:27017/truba_test_db
JWT_SECRET_KEY=my-secret-key
STEAM_API_KEY=steam-api-key
SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:8080,http://truba-app.ru,https://truba-app.ru
SESSION_SECRET=secret-session-string
TURN_SERVER_IP=123.45.67.89
TURN_USERNAME=truba_user
TURN_PASSWORD=mySuperSecret123