PORT=3000
DATABASE_URI=mongodb://localhost:27017/truba_db
DATABASE_URI_TEST=mongodb://localhost:27017/truba_test_db
JWT_SECRET_KEY=my-secret-key
STEAM_API_KEY=steam-api-key
SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:8080
SESSION_SECRET=secret-session-string