.preloader {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;

	.preloaderCircle {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: block;
		width: 50px;
		height: 50px;
		margin: auto;
		border: 2px solid;
		border-color: #02007f #0949ac #2366ce #1082cf;
		border-radius: 50%;
		animation: spin 0.75s infinite linear;
	}
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
