.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid;
	border-color: #fff #262626 #262626 #fff;
	padding: 10px;
	box-shadow:
		inset 1px 1px #fff,
		inset -2px -2px #7e7e7e;
	background-color: #c0c0c0;
}

.userInfoWrapper {
	position: relative;
	z-index: 1;
	min-width: 0;
	overflow: hidden;
	cursor: pointer;
	user-select: none;

	&::before {
		content: '';
		position: absolute;
		top: -4px;
		right: -4px;
		bottom: -4px;
		left: -4px;
		z-index: -1;
		color: #fff;
	}

	&:hover {
		* {
			color: #fff;
		}

		&::before {
			background: linear-gradient(
				90deg,
				rgba(2, 0, 127, 1) 0%,
				rgba(9, 73, 172, 1) 50%,
				rgba(16, 130, 207, 1) 100%
			);
		}
	}

	&.active {
		* {
			color: #fff;
		}

		&::before {
			background: linear-gradient(
				90deg,
				rgba(2, 0, 127, 1) 0%,
				rgba(9, 73, 172, 1) 50%,
				rgba(16, 130, 207, 1) 100%
			);
		}
	}
}

.userInfo {
	display: flex;
	align-items: center;
	gap: 8px;
	overflow: hidden;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	min-width: 0;
	overflow: hidden;
}

.username {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.statusContainer {
	display: flex;
	align-items: center;
	gap: 6px;
	min-width: 0;

	.status {
		flex-shrink: 0;
		width: 8px;
		border: 1px solid #000;
		background-color: #33ff00;
		aspect-ratio: 1;
	}
}

.playingText {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.profileActions {
	display: flex;
	flex-shrink: 0;
	gap: 6px;
}

.popoverCenterTop {
	position: absolute;
	bottom: calc(100% + 10px);
	left: 50%;
	z-index: 2;
	transform: translateX(-50%);
	cursor: default;
}

@media (max-width: 768px) {
	.popoverCenterTop {
		position: fixed;
		top: 50%;
		bottom: auto;
		left: 50%;
		z-index: 100;
		transform: translate(-50%, -50%);
	}
}
