.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	min-height: 100dvh;
	padding: 10px;
}

.authWindow {
	width: min(450px, 92vw);
	min-height: 464px;
}

.authWindowBody {
	gap: 20px;
	padding: 20px;
}
