.button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	border-color: #fff #262626 #262626 #fff;
	box-shadow:
		inset 1px 1px #fff,
		inset -2px -2px #7e7e7e;
	outline: none;
	color: #000;
	text-align: center;
	text-decoration: none;
	text-transform: lowercase;
	background-color: #c3c3c3;
	cursor: pointer;

	img {
		width: 22px;
		object-fit: contain;
		aspect-ratio: 1;
	}

	&:focus-visible {
		outline: 2px dotted #000;
		outline-offset: -10px;
	}

	&:not(:disabled):active {
		border-color: #262626 #fff #fff #262626;
		padding-top: 2px;
		padding-left: 2px;
	}

	&:disabled {
		color: #808080;
		text-shadow: 1px 1px 0 #fff;
		cursor: not-allowed;

		&:focus {
			outline: none;
		}
	}
}

.large {
	width: 200px;
	height: 50px;
}

.medium {
	width: 150px;
	height: 50px;
}

.small {
	width: 50px;
	aspect-ratio: 1;

	img {
		width: 22px;
		aspect-ratio: 1;
	}
}
