.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
}

.topRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.friendInfoWrapper {
	position: relative;
	display: flex;
	align-items: center;
	cursor: var(--cursor-pointer, pointer);
	user-select: none;
	z-index: 1;
	min-width: 0;

	&::before {
		content: '';
		color: #fff;
		position: absolute;
		top: -4px;
		bottom: -4px;
		left: -4px;
		right: -4px;
		z-index: -1;
	}

	&:hover {
		* {
			color: #fff;
		}

		&::before {
			background: linear-gradient(
				90deg,
				rgba(2, 0, 127, 1) 0%,
				rgba(9, 73, 172, 1) 50%,
				rgba(16, 130, 207, 1) 100%
			);
		}
	}
}

.friendInfo {
	display: flex;
	align-items: center;
	gap: 8px;
	overflow: hidden;
	min-width: 0;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	overflow: hidden;
}

.username {
	max-width: 200px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.statusContainer {
	display: flex;
	align-items: center;
	gap: 6px;

	.status {
		width: 8px;
		border: 1px solid #000;
		aspect-ratio: 1;

		&.online {
			background-color: #33ff00;
		}

		&.offline {
			background-color: #ff6b6b;
		}
	}
}

.playingText {
	max-width: 200px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.callButtons {
	display: flex;
	gap: 6px;
	flex-shrink: 0;
}

.searchBlock {
	width: 100%;
}

.popoverCenterBottom {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: default;
}
