.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.friendInfoWrapper {
	position: relative;
	cursor: var(--cursor-pointer, pointer);
	user-select: none;
	display: flex;
	align-items: center;
}

.friendInfo {
	display: flex;
	align-items: center;
	gap: 8px;
	overflow: hidden;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	overflow: hidden;
}

.username {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.statusContainer {
	display: flex;
	align-items: center;
	gap: 6px;

	.status {
		width: 8px;
		border: 1px solid #000;
		aspect-ratio: 1;

		&.online {
			background-color: #33ff00;
		}

		&.offline {
			background-color: #ff6b6b;
		}
	}
}

.chatTools {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	gap: 6px;
}

.callButtons {
	display: flex;
	gap: 6px;
}

.searchBlock {
	width: 260px;
}

.popoverCenterBottom {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: default;
}
