@font-face {
	font-family: 'Fixedsys';
	src: url('../assets/fonts/Fixedsys.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MS Sans Serif';
	src: url('../assets/fonts/MS Sans Serif.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
