.popoverWrapper {
	position: absolute;
	bottom: calc(100% + 10px);
	left: 0;
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 14px;
	width: 100%;
	border: 2px solid;
	border-color: #fff #262626 #262626 #fff;
	padding: 10px;
	box-shadow:
		inset 1px 1px #fff,
		inset -2px -2px #7e7e7e;
	background-color: #c0c0c0;
	cursor: default;
}
