.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	box-sizing: border-box;
}

.authWindow {
	width: 450px;
	min-height: 464px;
}

.authWindowBody {
	gap: 20px;
	padding: 20px;
}
